body,html{
    height: 100%;
    margin: 0;
    font-family: 'poppins',sans-serif;
}
.background{
    background-image: url('zz.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
align-items: center;
justify-content: center;
}
.booking-form{
    background-color: rgba(255,255,255,0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
}
.booking-form h2{
    text-align: center;
}
.booking-form form{
    display: flex;
    flex-direction: column;
}
.booking-form input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.booking-form button{
    margin-top:10px;
    padding: 10px;
    background-color: #b67a31;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.booking-form button:hover{
    background-color: #a06e45;
}

.footer {
    width: 100%;
}

.ticket {
    text-align: center;
    font-size: 1.2em; /* Adjust the font size as needed */
    background-color:#d7c6b5;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
    width: 75%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the element horizontally */
    text-align: center; /* Center the text */
}

